<!DOCTYPE html>
<html>
<head>
  <title>Contacter</title>
  <%- include('./partials/bootstrap') %>
</head>
  <body style="margin-top:60px">
    <%- include('./partials/nav') %>
    <div class="d-flex flex-column align-items-center ">
      <div class="container col-6">
        <div class="align-items-center mb-2">
          <h1 class="fw-bold text-center">
            Contacter
            <span class="fw-light fs-3 fst-italic text-success"><br>
              <% if (expediteur) {  %>
                De: <%= expediteur %><br>
              <% } else { %>
                De: <%= user.email %><br>
              <% } %>
              <% if (destinataire) {  %>
                A: <%= destinataire %>
              <% } else { %>
                A: admin@amdin
              <% } %>
               
            </span>
          </h1>
        </div>
        <form method="POST" action="/message">
          <!-- <div class="form-group ">
            <label for="objet" class="fst-italic">Objet</label>
            <input type="text" class="form-control" name="objet" required>
          </div> -->
          <div class="form-group">
            <% if (user.role === "admin") {  %>
              <input type="hidden" class="form-control" name="expediteur" value="<%= expediteur %>">
              <input type="hidden" class="form-control" name="destinataire" value="<%= destinataire %>">
            <% } else { %>
              <input type="hidden" class="form-control" name="expediteur" value="<%= user.email %>">
              <input type="hidden" class="form-control" name="destinataire" value="admin@admin">
            <% } %>
            <input type="hidden" name="datetime" value="<%= heure %>">      
            <label for="texte" class="fst-italic">Votre Texte</label>
            <textarea class="form-control" name="texte" rows="4" required></textarea>
          </div>
          <button type="submit" class="btn btn-primary fst-italic mt-2">Envoyer</button>
          <a href="/messagebox/received" class="btn btn-info fw-bold mt-2">Boite de messagerie</a>
        </form>
      </div>
    </div>
  </body>
</html>


