<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
    <link rel="stylesheet" href="/public/css/dialogue.css">
    <title>Emails Envoyés</title>
  </head>
  <body class="text-center">
    <%- include('./partials/nav') %>
    <!-- parent -->
    <div class="d-flex">
      <!-- parent dialogue-->
      <div class="d-flex flex-column w-100" style="margin-top:55px">
        <!-- Title -->
        <div class="align-items-center ">
          <h1 class="fw-bold mt-2">
            Envoyés par : 
            <span class="fw-bold fs-3 fst-italic text-success">
              <% if (user && user.role === "admin") { %> admin@admin 
              <%} else { %> <%= user.prenom %> <% } %>
            </span>
          </h1>
          <div class="d-flex justify-content-center w-100 text-center gap-2" > 
            <div class="fixed-top text-end me-2"style="margin-top:70px">
              <button id="toggle" class="btn b btn-secondary "><i class="bi bi-gear-fill "></i></button>
            </div>
            <div class="fst-italic fw-bold">
                Voir mes messages reçus
                <a href="/messagereceived" class="fw-bold btn btn-info mb-2">
                  <u>ici</u>
                </a>
            </div>
          </div>
        </div>
        <!-- fin Title -->
        <!-- Messages -->
        <div class="d-flex flex-column justify-content-center container">
          <div class="text-center fst-italic">
            <% messages.reverse().forEach((message) => { %>
            <div class="card mb-2">
                <div class="d-flex justify-content-center gap-2">
                  <h5 class="card-title text-success">Expediteur : <span class="text-muted fw-light"><%=  message.expediteur %></span></h5>
                  <h5 class="card-title text-success">Destinataire : <span class="text-muted fw-light"><%=  message.destinataire %></span></h5>
                </div>
                <div class="d-flex justify-content-center gap-2">
                  <h5 class="card-title text-success">Le : <span class="text-muted fw-light"><%=  message.date %></span></h5>
                  <p class="card-text text-success">Objet : <span class="text-muted fw-light">unnamed</span></p>
                </div>
                <p class="card-text fs-4"><%= message.texte %></p>
                <!-- edit et delete -->
                <div class="cible hidden mb-2">
                  <div class="d-flex justify-content-center gap-2">
                    <a href="/edit-message/<%=  message._id %>" class="btn btn-success">
                      <i class="bi bi-pencil-square"></i>
                    </a>
                    <form action="/delete-message/sent/<%= message._id %>?_method=DELETE" method="POST">
                      <input type="hidden" name="email" value="<%= user.email %>">
                      <input type="hidden" name="_method" value="DELETE">
                      <button type="submit" class="btn btn-danger">
                        <i class='bi bi-trash'></i>
                      </button>
                    </form>
                  </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <!-- fin Messages -->
      </div>
      <div class="fixed-bottom mb-3 me-2 text-end">
        <a href="#" class="d-inline btn btn-secondary "><i class="bi bi-arrow-up"></i></a>
      </div>
    </div>
    <!-- fin parent -->
    <script src="/public/js/dialogue.js"></script>
  </body>
</html>